    <form class="form-signin" ng-submit="connect()">
        
            <div class="container col-sm-8">
                <h2 class="form-signin-heading">Enter Your name</h2>
                <label for="name">username</label>
                <input type="text" name="name" ng-model="username" class="form-control control" autofocus required>
                <br>
                <div class="text-right">
                    <button type="submit" class="btn btn-outline-info"><i class="fa fa-sign-in" aria-hidden="true"></i><em> login</em></button>
                </div>
            </div>

    </form>